#page-profile {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}

#page-profile .page-header .header-content {
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-profile .page-header .header-content .profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-header .header-content .profile-header img {
  height: 18rem;
  width: 18rem;
  border-radius: 9rem;
}


.page-header .header-content .profile-header label {
  position: absolute;
  width: 6rem;
  height: 3rem;
  border-radius: 0.8rem;
  background: var(--color-secundary);
  right: auto;
  top: -1.5rem;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .header-content .profile-header label:hover {
  background-color: var(--color-secundary-dark);
}

.header-content .profile-header label input {
  display: none;
}

.header-content .profile-header label #cameraIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 0;
  color: #312e38;
}

.page-header .header-content .profile-header strong {
  margin: 1rem 0;
}

.page-header .header-content .profile-header p {
  font: 400 2.4rem Poppins;
}

#page-profile main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-profile main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-profile main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-profile main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-profile main fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}

#page-profile main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#page-profile main fieldset .select-block + .input-block,
#page-profile main fieldset .input-block + .textarea-block {
  margin-top: 2.4rem;
}

#page-profile .schedule-item-form .remove-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

#page-profile .schedule-item-form .remove-button button {
  width: 100%;
  background: none;
  border: 0;
  font: 600 1.4rem Archivo;
  color: #E33D3D;
  transition: text-shadow 0.2s;
}

#page-profile .schedule-item-form .remove-button button:hover {
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

#page-profile .schedule-item-form .remove-button .line {
  height: 0.1rem;
  width: 100%;
  background: var(--color-line-in-white);
}

#page-profile main label {
  color: var(--color-text-complement);
}

#page-profile main footer {
  padding: 4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
}

#page-profile main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}

#page-profile main footer p img {
  margin-right: 2rem;
}

#page-profile main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#page-profile main footer button:hover {
  background: var(--color-secundary-dark);
}

@media(min-width: 700px) {
  #page-profile {
    max-width: 100vw;
  }

  #page-profile .page-header {
    height: 50rem;
  }

  #page-profile .page-header .header-content {
    margin-top: 2rem;
    margin-bottom: 0;
    background-image: url('../../assets/images/profile-background.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1100px;
  }

  #page-profile main {
    margin-top: -5rem;
    transform: translate3d(0, 0, 1px);
  }

  #page-profile main fieldset {
    padding: 0 6.4rem;
  }

  #page-profile main fieldset .email-wpp {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
    margin: 2rem 0;
  } 

  #page-profile main fieldset .about-class {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
  }

  #page-profile main .schedule-item-form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }

  #page-profile main .schedule-item-form .input-block {
    margin-top: 0 !important;
  }

  #page-profile .schedule-item-form .remove-button {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #page-profile .schedule-item-form .remove-button button {
    width: 65%;
  }

  #page-profile main footer {
    padding: 4.0rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-profile main footer p {
    justify-content: space-between;
  }

  #page-profile main footer button {
    width: 20rem;
    margin-top: 0;
  }

}