#the-button {
  margin-top: 1.5rem;
  font: 600 1.6rem Archivo;
  height: 5.6rem;
  border: 0;
  border-radius: 0.8rem;
}

#the-button:disabled {
  background: #DCDCE5;  
}

#the-button:enabled {
  background: var(--color-secundary);  
  color: var(--color-button-text);
}