#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

#page-landing-content {
  max-width: none;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-landing-content .landing-header {
  width: 120rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem 3rem 2rem;
}

.landing-header .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.landing-header .profile img {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}

.landing-header .profile span {
  font: 500 1.4rem Poppins;
  color: var(--color-text-in-primary);
  margin-left: 2rem;
}

#page-landing-content .landing-header button {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: 0;
  
  background: var(--color-primary-dark);
  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing-content .landing-header button:hover {
  background: var(--color-primary-light);
}

.landing-mid {
  width: 120rem;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  width: 60rem;
  height: 35rem;
}

.logo-container {
  align-self: center;
  margin: 0;
  text-align: left;
}

.logo-container h2 {
  width: 60%;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
  text-align: initial;
}

#page-landing-content .landing-bottomside {
  margin-top: auto;
  width: 100%;
  height: 35%;
  background: var(--color-background);
  display: flex;
  justify-content: center;
}

.landing-bottomside .bottom-container {
  width: 120rem;
  /* margin-top: -8rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing-bottomside .bottom-container .bottom-text {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  width: 40%;
}

.bottom-container .bottom-text p {
  font: 400 2rem Poppins;
  color: var(--color-text-base);
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container a:first-child {
  margin-right: 1.6rem; 
}

.buttons-container a img {
  width: 4rem;
}

.buttons-container a.study {
  background: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
  background: var(--color-secundary);
}

.buttons-container a.study:hover {
  background: var(--color-primary-dark);
}

.buttons-container a.give-classes:hover {
  background: var(--color-secundary-dark);
}

.buttons-container a img {
  margin-right: 2.4rem;
}

.total-connections {
  font-size: 1.2rem;
  color: var(--color-text-complement);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:  auto;
}

.total-connections img {
  margin-left: 0.8rem;
}

@media (max-width: 1300px) {
  #page-landing-content .landing-header,
  .landing-mid,
  .landing-bottomside .bottom-container {
    width: 90%;
  }
}

@media (max-width: 1280px){
  .logo-container h2 {
    width: auto;
  }
}

@media (max-width: 1180px) {
  .hero-image {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .landing-bottomside .bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing-mid {
    display: flex;
    flex-direction: column-reverse;    
  }

  .hero-image {
    width: 60rem;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    width: 70%;
  }

  .logo-container h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .landing-bottomside .bottom-container .bottom-text {
    margin-right: 0;
    margin-top: 2rem;
    width: 60%;
  }
}


@media (max-width: 700px) {
  .hero-image {
    width: 40rem;
  }

  .logo-container img {
    width: 60%;
  }

  .logo-container h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .buttons-container a {
    width: 20rem;
  }

  .bottom-container {
    margin-top: -8rem;
  }

  .landing-bottomside .bottom-container .bottom-text {
    width: 70%;
  }

  .bottom-container .bottom-text p {
    font-size: 1.6rem;
  }
}

@media (max-width: 550px) {
  .landing-bottomside .bottom-container .bottom-text {
    width: 80%;
  }

  .landing-mid {
    height: 45rem;
  }
}

@media (max-width: 425px) {
  .hero-image {
    width: 35rem;
  }

  .landing-bottomside .bottom-container .bottom-text {
    margin-top: 10rem;
    width: 100%;
  }

  .buttons-container a {
    width: 18rem;
  }

}

@media (max-width: 375px) {
  .hero-image {
    width: 31rem;
  }
  
  .buttons-container a {
    width: 15rem;
  }
}