#page-signin  {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

#page-signin .intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
  background-image: url('../../assets/images/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65rem;
}

#page-signin .intro-container .intro {
  display: flex;
  flex-direction: column;
}

.intro-container .intro span {
  font-size: 2.4rem;
  text-align: start;
}

#page-signin .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 100%;
}

#page-signin .login-container form {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin-top: auto;
}

.login-container form legend {
  color: black;
  font: 700 3.6rem Poppins;
  margin-bottom: 3rem;
}

.login-container form input {
  height: 6.5rem;

  border: 0.1rem solid var(--color-line-in-white);
  border-radius: 0.8rem;

  text-align: start;
}

#page-signin .login-container footer {
  width: 35rem;
  margin-top: 20rem;
  margin-bottom: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container form div input {
  margin: 0.5rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0.8rem;
}

.login-container form div input:checked {
  background-color: var(--color-secundary) !important;
  height: 1.8rem;
  width: 1.8rem;
}

.login-container form div {
  margin: 1.0rem 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-container form div a {
  text-decoration: none;
  color: var(--color-text-complement);
  font: 400 1.4rem Poppins;
}

.login-container form button {
  margin-top: 1.5rem;
  font: 600 1.6rem Archivo;
  height: 5.6rem;
  border: 0;
  border-radius: 0.8rem;
}

.login-container form button:disabled {
  background: #DCDCE5;  
}

.login-container form button:enabled {
  background: var(--color-secundary);  
  color: var(--color-button-text);
}

.login-container footer .signup {
  font: 400 1.6rem Poppins;
}

.login-container footer .signup a {
  color: var(--color-primary);
  font-weight: 700;
}

.login-container footer span {
  color: var(--color-text-complement);
}