#page-signin  {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

#page-signin .intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
  background-image: url('../../assets/images/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65rem;
}

#page-signin .intro-container .intro {
  display: flex;
  flex-direction: column;
}

.intro-container .intro span {
  font-size: 2.4rem;
  text-align: start;
}

#page-signin .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  height: 100%;
}

#page-signin .login-container form {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin-top: auto;
}

.login-container form legend {
  color: black;
  font: 700 3.6rem Poppins;
  margin-bottom: 3rem;
}

#page-signin .login-container footer {
  width: 35rem;
  margin-top: 20rem;
  margin-bottom: 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container form .form-footer input {
  margin: 0.5rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 0.8rem;
}

.login-container form .form-footer input:checked {
  background-color: var(--color-secundary) !important;
  height: 1.8rem;
  width: 1.8rem;
}

.login-container form .form-footer .rememberme {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-container form .form-footer {
  margin: 1.0rem 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-container form .form-footer a {
  text-decoration: none;
  color: var(--color-text-complement);
  font: 400 1.4rem Poppins;
}

.login-container footer .signup {
  font: 400 1.6rem Poppins;
}

.login-container footer .signup a {
  color: var(--color-primary);
  font-weight: 700;
}

.login-container footer span {
  color: var(--color-text-complement);
}

@media(max-width: 1200px) {
  #page-signin  {
    flex-direction: column;
    align-items: center;
  }

  #page-signin .intro-container {  
    width: 100%;
    height: 50%;
  
    background-image: unset;
  }

  #page-signin .login-container footer {
    margin-top: 50%;
    margin-bottom: 20%;
  }

}

@media (max-width: 500px){
  #page-signin .intro-container .intro {
    width: 70%;
  }

  #page-signin .login-container {
    width: 70%;
  }

  .intro-container .intro span {
    font-size: 2rem;
    text-align: start;
  }
}